//@import "bootstrap-sprockets";
//@import "bootstrap";

/* Site-Wide */

body {
  background-color: lighten(#3071A9, 50%);
}

h3 {
  margin: 10px 0px;
}

.btn-lg {
  font-size: 17px;
}

/* Navbar */

.navbar-default {
    background-color: lighten(#3071A9, 30%);
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

/* Stock Look-yup */

.results-block {
  display: inline-block;
}

/* Footer */

footer {
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #777;
}