//@import "bootstrap-sprockets";
//@import "bootstrap";

/* Site-Wide */

body {
  background-color: lighten(#3071A9, 50%);
}

h3 {
  margin: 10px 0px;
}

.btn-lg {
  font-size: 17px;
}

.btn-primary {
  color: #EEE !important;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

/* Navbar */

.navbar-default {
    background-color: lighten(#3071A9, 30%);
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

.logout {
  padding: 4px 0px;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn-danger:hover {
    background-color: darken(#d9534f, 15%) !important;
  }
}

/* Stock Look-up */

.results-block {
  display: inline-block;
}

/* Footer */

footer {
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #777;
}